In [44]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [45]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Table, Column, Integer, String, Float
from sqlalchemy.orm import Session
from sqlalchemy import func
from sqlalchemy import create_engine, inspect
from sqlalchemy import create_engine, inspect, join, outerjoin, MetaData
from sqlalchemy.ext.automap import automap_base

In [46]:
import numpy as np
import pandas as pd

In [47]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [48]:
# Connect to database
engine=create_engine("sqlite:///Resources/hawaii.sqlite")
conn=engine.connect()
meta=MetaData()
# Create an inspector and connect it to the engine
inspector=inspect(engine)
#dir(inspector)
# View table names
tables=inspector.get_table_names()
tables

['measurement', 'station']

In [49]:
for table in tables:
    print("\n")
    print('-' * 12)
    print(f"table '{table}' has the following columns:")
    print('-' * 12)
    for column in inspector.get_columns(table):
        print(f"name: {column['name']}   column type: {column['type']}")

------------
table 'measurement' has the following columns:
------------
name: id   column type: INTEGER
name: station   column type: TEXT
name: date   column type: TEXT
name: prcp   column type: FLOAT
name: tobs   column type: FLOAT


------------
table 'station' has the following columns:
------------
name: id   column type: INTEGER
name: station   column type: TEXT
name: name   column type: TEXT
name: latitude   column type: FLOAT
name: longitude   column type: FLOAT
name: elevation   column type: FLOAT

In [50]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [51]:
# Create our session (link) from Python to the DB
session=Session(engine)
measurement = Base.classes.measurement
session.query(measurement.station,measurement.date,measurement.prcp,measurement.tobs).first()

('USC00519397', '2010-01-01', 0.08, 65.0)

In [52]:
session=Session(engine)
station=Base.classes.station
session.query(station.station,station.name).all()

[('USC00519397', 'WAIKIKI 717.2, HI US'),
 ('USC00513117', 'KANEOHE 838.1, HI US'),
 ('USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US'),
 ('USC00517948', 'PEARL CITY, HI US'),
 ('USC00518838', 'UPPER WAHIAWA 874.3, HI US'),
 ('USC00519523', 'WAIMANALO EXPERIMENTAL FARM, HI US'),
 ('USC00519281', 'WAIHEE 837.5, HI US'),
 ('USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US'),
 ('USC00516128', 'MANOA LYON ARBO 785.2, HI US')]

In [53]:
havaii_last_months= session.query(Measurement.date).order_by(Measurement.date.desc()).first()
last_date, =havaii_last_months
year,month,day = last_date.split('-')
query_date = dt.date(int(year),int(month),int(day)) - dt.timedelta(days=365)
print("Last Date Measured: ",last_date)
print("Query Date: ",query_date)

NameError: name 'Measurement' is not defined

In [42]:

# Design a query to retrieve the last 12 months of precipitation data and plot the results
havaii = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= query_date).group_by(Measurement.date).all()
havaii

NameError: name 'Measurement' is not defined

In [43]:
havaii_df = pd.DataFrame(havaii)
havaii_df.head()

NameError: name 'havaii' is not defined

In [31]:
df_havaii = havaii_df.set_index("date")
df_havaii.head()

NameError: name 'havaii_df' is not defined

In [ ]:

# Sort the dataframe by date
df_havaii.sort_values(["date"]).head()

In [ ]:
 #Use Pandas Plotting with Matplotlib to plot the data
df_havaii.plot()
plt.xlabel("Date")
plt.ylabel("Havaii in Inches")
plt.title("Precipitation Analysis (8/24/16 to 8/23/17)")
plt.legend(["Precipitation"])
plt.show()

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data
df_havaii.describe()

In [ ]:
# Design a query to show how many stations are available in this dataset?
stations = session.query(Measurement.station).group_by(Measurement.station).count()
print(f'There are total number of {stations} stations available in this dataset.')

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
activity_station= session.query(Measurement.station,func.count(Measurement.station))\
                                .group_by(Measurement.station)\
                                .order_by(func.count(Measurement.station).desc())

# List the stations and the counts in descending order.
for row in activity_station:
    print(row)

In [ ]:
highest_activity = activity_station[0][0]
print(f"{highest_activity} is the highest number")

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?

r_highest_activity = session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
                filter(Measurement.station == highest_activity).all()

print(f"Station: {highest_activity}\n\
    Lowest temperature recorded:  {r_highest_activity[0][0]}\n\
    Highest temperture recorded :  {r_highest_activity[0][1]}\n\
    Average temperature recorded:  {r_highest_activity[0][2]}")

In [ ]:
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
temperature = session.query(Measurement.station, Measurement.date, Measurement.tobs).\
    filter(Measurement.station == highest_activity).\
    filter(Measurement.date > query_date).\
    order_by(Measurement.date).all()

temperature_df=pd.DataFrame(temperature)
plt.hist(temperature_df['tobs'],12)
plt.xlabel("Temperature")
plt.ylabel("Frequency")
plt.title("Station: " + highest_activity)
plt.legend(["tobs"], loc="best")

plt.savefig("temp.png")
plt.show()

In [ ]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [ ]:
tables = inspector.get_table_names()
tables

In [ ]:
 help(inspector.get_columns)

In [ ]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [20]:
 # let's create the base 
Base = automap_base()

In [21]:
# let's find out what's in this darn database !
Base.prepare(engine, reflect=True)

In [22]:
tables = Base.classes.keys()
tables

['measurement', 'station']

In [23]:
measurement = Base.classes['measurement']
station = Base.classes['station']

In [24]:
dir(measurement)

['__abstract__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mapper__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__table__',
 '__weakref__',
 '_decl_class_registry',
 '_sa_class_manager',
 '_sa_decl_prepare',
 '_sa_raise_deferred_config',
 'classes',
 'date',
 'id',
 'metadata',
 'prcp',
 'prepare',
 'station',
 'tobs']

In [ ]:
dir(station)

In [ ]:
# remember we need a session for ORM
session = Session(engine)

In [ ]:
# let's see what we've got
session.query

In [ ]:
# always close to be safe
session.close()

In [ ]:
# Save references to each table

In [ ]:
Base = declarative_base()

In [ ]:
Base.metadata.tables

In [ ]:
# We can view all of the classes that automap found
# connect to database
db_path = "hawaii.sqlite"
engine = create_engine(f"sqlite:///{db_path}")
# always close to be safe
session.close()

In [ ]:
Base.metadata.create_all(engine)

In [ ]:
Base.metadata.tables

In [ ]:

session = Session(bind=engine)

In [ ]:
dir(session)

In [ ]:
session.dirty

In [ ]:
session.new

In [ ]:
print("new:\n", session.new, "\ndirty:\n", session.dirty)

In [ ]:
help(session.query)

In [ ]:
# Create our session (link) from Python to the DB

# Exploratory Climate Analysis

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results

# Calculate the date 1 year ago from the last data point in the database

# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data
last = session.query(measurement.date).order_by(measurement.date.desc()).first()
last_date, = last
year,month,day = last_date.split('-')
query_date = dt.date(int(year),int(month),int(day)) - dt.timedelta(days=365)
print("Last Date Measured: ",last_date)
print("Query Date: ",query_date)

In [ ]:
print(dt.date.today())

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

In [ ]:
# Design a query to show how many stations are available in this dataset?

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature of the most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

## Bonus Challenge Assignment

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.
prev_year = calc_temps('2011-02-28', '2011-03-05')
print(prev_year)

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

prev_year_df = pd.DataFrame(prev_year, columns=['Min Temp', 'Avg Temp', 'Max Temp'])
avg_temp = prev_year_df['Avg Temp']
min_max_temp = prev_year_df.iloc[0]['Max Temp'] - prev_year_df.iloc[0]['Min Temp']
avg_temp.plot(kind='bar', yerr=min_max_temp, figsize=(6,8), alpha=0.5, color='coral')
plt.title("Trip Avg Temp", fontsize=20)
plt.ylabel("Temp (F)")
plt.xticks([])
plt.grid()
plt.show()

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`